src/Orckestra.Composer/Caching/Configuration/CacheConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Orckestra.Composer.Caching" elementFormDefault="qualified" targetNamespace="urn:Orckestra.Composer.Caching" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="caching" type="tns:Orckestra.Composer.Caching.CacheConfigurationCT" />
	<xs:complexType name="Orckestra.Composer.Caching.CacheConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="profiles" type="tns:Orckestra.Composer.Caching.CacheProfilesCT">
				<xs:annotation>
					<xs:documentation>The Profiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="categories" type="tns:Orckestra.Composer.Caching.CacheCategoryCollectionCT">
				<xs:annotation>
					<xs:documentation>The Categories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheProfilesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="profile" type="tns:Orckestra.Composer.Caching.CacheProfileCT">
				<xs:annotation>
					<xs:documentation>The CacheProfile Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="default" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheProfilesRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheProfilesClearCT" />
	<xs:complexType name="Orckestra.Composer.Caching.CacheProfileCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:Orckestra.Composer.Caching.ProfileSettingsCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="duration" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The Duration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="priority" use="optional" type="tns:ConfigurationCachePriority">
			<xs:annotation>
				<xs:documentation>The Priority.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ClientType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="acquiredLockTimeout" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The AcquiredLockTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheCategoryCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="profileName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ProfileName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheCategoryCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="category" type="tns:Orckestra.Composer.Caching.CacheCategoryCT">
				<xs:annotation>
					<xs:documentation>The CacheCategory Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheCategoryCollectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.CacheCategoryCollectionClearCT" />
	<xs:complexType name="Orckestra.Composer.Caching.ProfileSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="profileSetting" type="tns:Orckestra.Composer.Caching.ProfileSettingCT">
				<xs:annotation>
					<xs:documentation>The ProfileSetting Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.ProfileSettingsRemoveCT">
				<xs:attribute name="key" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Key.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="Orckestra.Composer.Caching.ProfileSettingsClearCT" />
	<xs:complexType name="Orckestra.Composer.Caching.ProfileSettingCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ConfigurationCachePriority">
		<xs:annotation>
			<xs:documentation>ConfigurationCachePriority.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Normal">
				<xs:annotation>
					<xs:documentation>Normal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NotRemovable">
				<xs:annotation>
					<xs:documentation>NotRemovable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
